/TipsAndTricks/Menu/bin
/TipsAndTricks/Menu/obj
/TipsAndTricks/TatBlog.Core/bin
/TipsAndTricks/TatBlog.Core/obj
/TipsAndTricks/TatBlog.Data/bin
/TipsAndTricks/TatBlog.Data/obj
/TipsAndTricks/TatBlog.Services/bin
/TipsAndTricks/TatBlog.Services/obj
/TipsAndTricks/TatBlog.WinApp/bin
/TipsAndTricks/TatBlog.WinApp/obj