<div class="mb-4">
    <partial name="_SearchForm"/>

    @await Component.InvokeAsync("CategoriesWidget")

    <h1>
        Bai viet noi bat
    </h1>

    <h1>
        Dang ky nhan tin moi
    </h1>

    <h1>
        Tag cloud
    </h1>
</div>
